.zaglavie {
    margin-bottom: 50px;
    margin-top: 60px;
    font-size: 55px;
    text-align: left;
    color:  rgb(234, 3, 3);
    font-family: Georgia, 'Times New Roman', Times, serif;    
    text-align: center;
}
.snimka{
    display: block;
    margin: 0 auto;
    width: 700px;
    height: auto;
    max-width: 100%;
}

@media (max-width: 480px) {
    .snimka {
        width: 100%;
        padding: 0 10px;
    }
}
.sh-o {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.posoki {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 25px;
    margin-left: 40px;
    margin-right: 20px;
}
.posoki li {
    margin-bottom: 1px;
}
.posoki li {
    margin-bottom: 1px;
}
.grad {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
}
.dance {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(234, 3, 3);
    font-size: 35px;
    margin-left: 20px;
    margin-top: 40px;
}
.sh-t {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}
.sh-n {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(234, 3, 3);
    font-size: 35px;
    margin-left: 20px;
    margin-top: 40px;
}
.j-sh-n {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.sho-img {
    width: 400px; 
    max-width: 100%;
    height: auto;
    margin-left: 500px;
}
.shoo-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 25px;
    margin-left: 40px;
    margin-right: 20px;
}
.shoo-title li {
    margin-bottom: 1px;
}
.shoo-title li {
    margin-bottom: 1px;
}
.sho-title {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.shoh {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  rgb(234, 3, 3);
    font-size: 35px;
    margin-left: 20px;
    margin-top: 30px;
}
.hh{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 25px;
    margin-left: 40px;
}
.shohi {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color:  rgb(234, 3, 3);
    margin-left: 20px;
    margin-top: 30px;
}
.instr {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
    margin-left: 40px;
}

.sh-button-container {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    position: relative;
    z-index: 10;
}

.sh-button {
    display: inline-block;
    font-size: 25px;
    padding: 10px 33px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    background-color: rgb(2, 97, 54);
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s, transform 0.2s;
}

.sh-button:hover {
    background-color: rgb(2, 70, 40);
    transform: translateY(-2px);
}

@media (max-width: 480px) {
    .zaglavie {
        font-size: 28px;
        margin-bottom: 20px;
        margin-top: 0px;
    }
    
    .sh-o, .posoki, .grad, .sh-t, .shoo-title, .hh, .instr {
        font-size: 16px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .dance, .sh-n, .shoh, .shohi {
        font-size: 25px;
        margin-left: 0px;
    }
    
    .j-sh-n, .sho-title {
        font-size: 20px;
        margin-left: 25px;
    }
    
    .sh-button {
        font-size: 17px !important;
        padding: 8px 12px !important;
        margin-top: -20px !important;
    }
    
    .sh-button-container {
        position: relative;
        z-index: 10;
        margin-bottom: 30px;
    }
    
    .sh-images{
        z-index: 1;
    }
    .sh-left{
        width: 140px !important;
		height: auto !important;
		left: 0 !important;
        bottom: -20px !important;
    }
    .sh-right{
        width: 140px !important;
        height: auto !important;
        right: 0 !important;
        bottom: -20px !important;
    }
    
    .shon-img {
        width: 200px;
        max-width: auto;

    }
}
.sh-images {
    position: relative;
    width: 100vw;
    height: auto;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 20px;
    top: 20px;
}

.sh-left {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 190px;
    height: auto;
}

.sh-right {
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 190px;
    height: auto;
}