.map-container {
  width: 100%;  
  height: auto;
  display: block;
  margin: 0 auto;
  max-width: 1000px;
}

.map-image,
.map-img {
  display: block;
  margin: 0;
  width: 100%;
  max-width: 100%;
  height: auto;
}


@media (max-width: 480px) {
  .map-container {
    padding: 0 10px;
    max-width: 400px;
    width: 400px;
  }
  
  .map-image,
  .map-img {
    width: 400px;
    max-width: 400px;
    height: auto;
  }
}

.map-region {
  display: none; 
}